body {
    background-color: #f4f4f4;
    color: #19270d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    gap: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    width: 10vw;
}
header {
    background-color: #818c3c;
    color: #f4f4f4;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2vw;
    width: 100%;
    font-weight: 800;
    top: 0;
    right: 0;
    left: 0;
}
button {
    background-color: #19270d;
    color: #F9FAF8;
    flex-shrink: 0;
    font-size: 5vw;
    margin: 1vw 1.5vw;
    padding: 1.5vw;
    border: 1px solid #1F2937;
}
form {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 5vw;
    gap: 1vw;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 3vw;
    font-size: 3vw;
    padding: 2vw;
}
img {
    max-width: 80vw;
    padding: 4vw;
    margin: -4vw;
}
.prediction {
    margin: 0 10vw;
    font-size: 5vw;
    font-weight: 800;
    color: #1F2937;
}
.info {
    background-color: #818c3c;
    color: #F9FAF8;
    margin: 8vw;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h2, p, li {
    text-align: center;
    font-size: 3vw;
}
ul {
    list-style-type: none;
}
li {
    padding: 2vw;
}
.list {
    background-color: #818c3c;
    padding: 0 4vw;
    display: flex;
    gap: 4vw;
    font-size: 3.5vw;
}
footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #818c3c;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 5vw;
}

@media screen and (min-width:1300px)  {
    header {
        font-size: 1.5vw;
    }
    #logo {
        width: 5vw;
    }
    form {
        font-size: 1vw;
    }
    input {
        font-size: 1vw;
        margin: 0;
        padding: 0vw;
    }
    button {
        font-size: 1vw;
        padding: 0.25vw;
    }
    .prediction {
        font-size: 1vw;
    }
    .info h2, p, li {
        font-size: 1vw;
    }
    footer {
        font-size: 1vw;
    }
    li {
        padding: 0.25vw;
        margin: 0;
    }
}
